body {
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: rgb(190, 84, 16);
  border: 0;
  border-radius: 0;
}

.jumbotron {
  color: white;
  background: rgb(190, 84, 16);
}

.jumbotron h1 {
  border-bottom: 1px solid rgb(237, 206, 152);
  padding-bottom: 20px;
  color: rgb(237, 206, 152);
}

.jumbotron p {
  padding: 20px 0;
  font-size: 25px;
}

footer.jumbotron {
  margin-bottom: 0;
  margin-top: 100px;
  background: rgb(190, 84, 16);
  color: white;
}

.jumbotron .link {
  color: rgb(237, 206, 152);
}
